body{

   background-color: white;
    background-size: cover;
  
}   
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Nunito:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
$primary-color   : #0A2647;
$nunito  : 'Nunito', sans-serif;

.upper-bar{
  display: flex;
  color: #fff;
  padding: 10px;
  background: linear-gradient(to right, #0575e6, #021b79); 
   height: 80px;
   display: flex;
   align-items: center;
   z-index: 10;
   
 
   p{
    color: rgb(241, 241, 0);
    font-weight: 600;
    font-family: $nunito;
    margin-left: 10px;
    font-size: 25px;
   }
   .content{
    margin-left: 50px;
    display: flex;
   justify-content: center;
   align-items: center;
 
    p{
        font-size: 16px;
        margin-right: 60px;
        transition: 2.0s;
        color: white;
         font-weight: 800;
        &:hover{
            transform: scaleY(-1);
            cursor: pointer;
            color: goldenrod;
        }
    }
   }
   .media{
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: white;
        font-size: 16px;
        margin-right: 60px;
        transition: 2.0s;
         font-weight: 800;
        &:hover{
            transform: scaleY(-1);
            cursor: pointer;
            color: goldenrod;
        }
    }
   }
   
}

.mid-bar{
    display: flex;
    align-items: center;
    .box1{
      font-family: $nunito;
        margin-left: 50px;
        width: 50%;
        color: $primary-color;
        h1{
            b{
                font-weight: 800;
                
            }
        }
        h1 {
            color: $primary-color;
            font-weight: 100;
            font-size: 60px;
            font-weight: bold!important;
            cursor: pointer;
           
          }
          
          h1 {
          
            background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
            animation: shine 3s infinite linear;
          }
          p{
            margin-top: -30px;
            font-family: $nunito;
            font-weight: 600;
        color: #4d4d4d;
            
          }
          
          @keyframes shine {
            0% {
              background-position: 0;
            }
            60% {
              background-position: 600px;
            }
            100% {
              background-position: 600px;
            }
          }


      
    }
.box2{
  
   
  .eye{
    position: relative;
     left: 10px;
     height: 40px;
     width: 30px;
     border-radius: 50%;
     top: 220px;
     left: 230px;
     background-color: #000074;
     overflow: hidden;
    .pupil{
     background-color: white;
     height: 15px;
     width: 15px;
     border-radius: 50%;
     position: absolute;
      
  transition: all 0.1s;
    }
}

.eye2{
    position: relative;
     left: 10px;
     height: 40px;
     width: 30px;
     border-radius: 50%;
     top: 190px;
     left: 160px;
     background-color: #000074;
    .pupil2{
     background-color: white;
     height: 15px;
     width: 15px;
     border-radius: 50%;
     position: absolute;
      
  transition: all 0.1s ease-in-out;
    }
}
}
}

.about-bar{
margin-left: 50px;
    p{
        margin-top: -30px;
      opacity: 0.6;
      font-weight: $nunito;
      letter-spacing: 1.5px;
      font-size: 20px;
    }
    .line{
        background-color: black;
        opacity: 0.7;
        transform: rotate(180deg);
        height: 200px;
        width: 1px;
        margin-top: -10px;
        margin-left: 20px;
        opacity: 0.3;
    }
  


    h2{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     margin-left: 50px;
     font-size: 45px; 
     color: #4d4d4d;  
    }
    .main-box
    {
        display:flex;
    .box1{
        width: 50%;
        order: 1;
        p{
            letter-spacing: 1.5px;
            word-spacing: 2.5px;
            font-size: 27px;
            font-family: $nunito;
            color: black;
        
        }

        ul{
            margin-top: 80px;
            li{
                font-size: 15px;
                margin-bottom: 15px;
            }
        }
    }
    .box2{
        width: 45%;
        order: -1;
    }
}
}

.languages{
    margin-left: 50px;
    p{
        margin-top: -30px;
      opacity: 0.6;
      font-weight: $nunito;
      letter-spacing: 1.5px;
      font-size: 20px;
    }
    .line{
        background-color: black;
        opacity: 0.7;
        transform: rotate(180deg);
        height: 200px;
        width: 1px;
        margin-top: -10px;
        margin-left: 20px;
        opacity: 0.3;
    }
    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 50px;
        font-size: 45px; 
        color: #4d4d4d;  
       }

     .frontend{
       
        font-family: $nunito;
        font-size: 22px;
        margin-left: 60px;
        letter-spacing: 1.5px;
        word-spacing: 2px;
    border-bottom: 2px solid brown;
    padding-bottom: 20px;
    width: 80%;
   
    color: #4d4d4d;
    b{
        font-weight: 800;
    }

  
     }
     .solar{
        display: flex;
        justify-content: center;
        img{
            height: 300px;
            margin-bottom: 40px;
        }
     }



     

  
}


.game{
    margin-left: 50px;
    
    p{
        margin-top:70px;
      opacity: 0.6;
      font-weight: $nunito;
      letter-spacing: 1.5px;
      font-size: 20px;
    }
    .line{
        background-color: black;
        opacity: 0.7;
        transform: rotate(180deg);
        height: 200px;
        width: 1px;
        margin-top: -10px;
        margin-left: 20px;
        opacity: 0.3;
    }
    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 30px;
        font-size: 35px; 
        color: #4d4d4d;  
       }
       .containers{
        display: flex;
        justify-content: center;
        align-items: center;
        .box2{
            width: 50%;
          
            margin-left: 20px;
         img{
            height: 400px;
            margin-left: 25%;
           margin-top: -150px;
         }
         p{
  letter-spacing: 0px;
  font-size: 24px;
  width: 50%;
  color: black;
  font-family: $nunito;
  font-weight: 600;
  transform: rotate(-45deg);
         }
        }
       }
}


.experience{
    margin-left: 50px;

    
    p{
        margin-top:70px;
      opacity: 0.6;
      font-weight: $nunito;
      letter-spacing: 1.5px;
      font-size: 20px;
    }
    .line{
        background-color: black;
        opacity: 0.7;
        transform: rotate(180deg);
        height: 200px;
        width: 1px;
        margin-top: -10px;
        margin-left: 20px;
        opacity: 0.3;
    }
    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 30px;
        font-size: 35px; 
        color: #4d4d4d;  
       }
       .box{
        display: flex;
        flex-wrap: wrap;

       .card1{
        width: 25%;
        background-color: #f4e6fe;
        display: flex;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        
        flex-direction: column;
        margin-right: 5%;
        padding: 20px;
        transform: rotate(0deg);
         &:hover{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
         }
         h3{
            font-family: $nunito;

            font-size: 20px;
            opacity: 0.7;
            word-spacing: 1px;
            b{
                font-weight: 800;
                color: brown;
            }
         }
         h2{
            font-size: 12px;
            margin-top: -10px;
            margin-left: 0px;
         }
         ul{
            li{
                font-family: $nunito;
                font-size: 13px;
                margin-bottom: 10px;
                font-weight: 600;
                opacity: 0.8;
                word-spacing: 2px;
            }
         }


       }
    }



}

.search{
    margin-left: 50px;
    position: relative;
    p{
        margin-top:70px;
      opacity: 0.6;
      font-weight: $nunito;
      letter-spacing: 1.5px;
      font-size: 20px;
    }
    .line{
        background-color: black;
        opacity: 0.7;
        transform: rotate(180deg);
        height: 200px;
        width: 1px;
        margin-top: -10px;
        margin-left: 20px;
        opacity: 0.3;
    }
    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 30px;
        font-size: 35px; 
        color: #4d4d4d;  
       }
       input{
        margin-top: 20px;
        width: 80%;
        margin-left: 50px;
        height: 50px;
        border: solid 2px gray;
        border-radius: 25px;
        padding-left: 80px;
        font-family: $nunito;
          font-size: 20px;       
    }
    img{
        height: 40px;
        position: absolute;
        left: 70px;
        bottom: 10px;
        z-index: 999;
       
        
    }
    a{
        position: absolute;
        right: 135px;
        bottom: 13px;
        background-color: #033498;
        color: white;
        font-family: $nunito;
        padding: 5px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 3px;
        &:hover{
            background-color: rgb(144, 250, 144);
            color: black;
        }
    }
}

.threed{
  
  
    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 30px;
        font-size: 35px; 
        color: #4d4d4d;  
       }
       .canvas{
        border-radius: 50px;
        margin-left: 10%;
         background-image: url("https://images.unsplash.com/photo-1637970067784-927e66e07e36?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzg2NTJ8MHwxfHNlYXJjaHwxMHx8Z2FyYWdlfGVufDB8fHx8MTY3NTIzNjIwNg&ixlib=rb-4.0.3&q=80&w=1080");
         background-position: center;
         background-size: cover;
       }
}

.footer{
    margin-top: 200px;
    background: linear-gradient(to right, #ee0979, #ff6a00);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

    font-weight: 100;
    letter-spacing: 0.5px;
    word-spacing: 3px;

}